<!-- friends.html -->
{% extends 'base.html' %}
{% block title %}Friends{% endblock %}
{% block body %}
<div class="dashboard">
  <div class="sidebar">
    <a href="{{ url_for('dashboard') }}">Dashboard</a><br>
    <a href="{{ url_for('users_list') }}">All Users</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="main">
    <h2>Your Friends</h2>
    <ul>
      {% for f in friends %}
      <li><a href="{{ url_for('chat', friend=f) }}">{{ f }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}